<h3>Task: Registration | Employee Id: 24DEV062 | Name: Vivek Kandoliya | Date: 21 March 2024</h3>
<a href="/login"><input class="btn" type="button" value="Login" name="Login"></a>
<a href="/register"><input class="btn" type="button" value="Register" name="Register"></a>


