<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head')%>
</head>

<body>

    <header>
        <%- include('../components/header')%>
          
    </header>

    <main>
       <div class = 'center'>

           <h3> <%= status%></h3>
       </div>
    </main>

</body>

</html>